@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --main-black-bg-color: #00030C;
    --main-white-color: #FFFFFF;
    --buttom-blue-color: #167BF7;
    --sec-white-color: #F9F9F9;
    --footer-grey-color: #C0C0C0;
    --hoover-buttom-color: #7C96AB;

    --main-font: 'Inter', sans-serif;
  }

body {
  background-color: var(--main-black-bg-color);
  color: var(--main-white-color);
  font-size: 1rem; /* 16px */
  font-weight: 400;
  font-family: var(--main-font);
  
}

* {
  margin: 0;
  padding: 0;
  
}

.home {
  background-image: url("https://raw.githubusercontent.com/kopaking/portfolio/main/alura_plus/assets/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.home_div {
  margin: 0 6em;
}

.home_title {
  font-weight: 700;
  font-size: 1.75rem; /* 28px */
}

.home_img {
  margin: 1em 0 2em 0;
}

.container_buttom {
  text-decoration: none;
  background-color: var(--buttom-blue-color);
  border-radius: 5px;
  padding: 1em; /* 16px */
  display: block;
  margin-bottom: 1em;
  color: var(--main-white-color);
  font-size: 1rem;
}

.container_buttom:hover {
  background-color: var(--hoover-buttom-color);
}

.home_buttom:hover {
  background-color: var(--hoover-buttom-color);
}

.home_buttom {
  background-color: transparent;
  border: 2px solid var(--main-white-color);
}

.home_text {
  color: var(--footer-grey-color);
  font-size: 0.75rem; /* 12px */
}

.home_container {
  font-family: var(--main-font);
  font-weight: 400;
  align-items: center;
  margin: 0 10em;
  display: flex;
  
}

.sec {
  align-items: center;
  margin: 0 10em;
}

.container_img {
  width: 80%;
}

.container_div {
    padding: 2em;
    
}

.container_title {
  color: var(--main-white-color);
  font-weight: 700;
  font-size: 3rem; /* 48px */
  margin-bottom: 0.1em;
}

.container_text {
  color: var(--sec-white-color);
  font-size: 1rem;
}

.container_3_buttom {
  display: inline-block;
  margin-top: 1em;
}

.home_container_4 {
  font-family: var(--main-font);
  font-weight: 400;
}

.container_5_title {
  text-align: center;
  font-weight: 700;
  font-size: 3rem; /* 48px */
  margin-bottom: 1em;
}

.container_5_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5em 0;
}

.container_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  font-weight: 700;
  font-size: 2rem; /* 32px */
}

.container_5_list {
  text-align: center;
}

.container_5_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.list_item {
  font-weight: 700;
  font-size: 2rem; /* 32px */
}

.home_footer {
  font-family: var(--main-font);
  font-weight: 400;
  text-align: center;
}

.footer_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em;
}

.footer_list li {
  margin-right: 1em;
}

.footer_link {
  text-decoration: none;
  color: var(--main-white-color);
}

.footer_list a:hover {
  color: var(--buttom-blue-color)
}

.footer_list a:active {
  color: var(--hoover-buttom-color);
}

.footer_text {
  font-size: 0,875rem;
  color: var(--footer-grey-color);
  font-weight: 400;
  margin-bottom: 2em;
}

.end {
  margin-bottom: 6.1881em;
}


/* Estilos para telas menores que 768px (celulares) */
@media (max-width: 767px) {
  .container {
    grid-template-columns: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .home_div,
  .sec {
    margin: 0 2em;
  }

  .container_img {
    width: 50%;
    justify-content: center;
    margin: 1em auto;
  }

  .container_title {
    font-size: 2rem;
    margin-top: 1em;
  }

  .container_text {
    font-size: 0.875rem;
  }

  .container_5_div {
    flex-direction: column;
    margin: 2em 0;
  }

  .container_item {
    margin-right: 0;
  }

  .footer_list {
    flex-wrap: wrap;
  }

  .footer_list li {
    margin-right: 0.5em;
  }

  .footer_text {
    font-size: 0.75rem;
  }

  .end {
    margin-bottom: 3em;
  }
}

/* Estilos para telas entre 768px e 1023px (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    grid-template-columns: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .home_div,
  .sec {
    margin: 0 4em;
  }

  .container_img {
    width: 50%;
    justify-content: center;
    margin: 1em auto;
  }

  .container_title {
    font-size: 2.5rem;
    margin-top: 1em;
  }

  .container_text {
    font-size: 1rem;
  }

  .container_5_div {
    flex-direction: column;
    margin: 2em 0;
  }

  .container_item {
    margin-right: 0;
  }

  .footer_list {
    flex-wrap: wrap;
  }

  .footer_list li {
    margin-right: 0.5em;
    }

  .footer_text {
    font-size: 0.75rem;
  }

  .end {
    margin-bottom: 3em;
  }
}