@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --main-bg-color: #000000;
    --main-color: #F6F6F6;
    --sec-color: #22D4FD;
    --hover-color: #272727;

    --main-font: 'Krona One', sans-serif;
    --sec-font: 'Montserrat', sans-serif
  }

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu_link {
    font-family: var(--sec-font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--sec-color);
    text-decoration: none;
}

.apresentacao__ {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo_titulo {
    font-size: 2.25rem;
    font-family: var(--main-font);
}

.apresentacao__titulo_destaque {
    color: var(--sec-color);
}

.apresentacao__conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--sec-font);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links_subtitulo {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links_link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--sec-color);
    width: 50%;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--sec-font);
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--main-color);
}

.apresentacao__links_link:hover {
    background-color: var(--hover-color);
  }

.images {
    display: inline-block;
    position: relative;
}

.images::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#22D4FD, #22D4FD);
    opacity: 0.07;
    z-index: 1;
    border-radius: 10%;
  }

.images img {
    filter: grayscale(100%);
    border-radius: 10%;
}

.footer {
    background-color: var(--sec-color);
    font-family: var(--sec-font);
    font-size: 1.5rem;
    color: var(--main-bg-color);
    padding: 23.64px;
    text-align: center;
    font-weight: 400;
}

@media (max-width: 1500px) {
    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }

    .apresentacao__ {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}